# Quarto
.quarto/
/.quarto/
**/*.quarto_ipynb
_site/
_freeze/

# R
*.Rproj.user/
.RData
.Rhistory
*.rds

# Deployment
manifest.json

# Generated
index_files/

# System
.DS_Store

# Posit Assistant
.posit/assistant
